<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
					
					<li class="dropdown">
						<a href="/art">Art &#9660</a>
						<ul class="submenu">
							<li><a href="/art/digital">Digital</a></li>
							<li><a href="/art/mixed">Mixed media</a></li>
							<li><a href="/art/physical">Physical</a></li>
						</ul>
					</li>
					
	        		<li><a href="/cv">CV</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:brassicapekinensis@gmail.com">email</a></li>
	        		<li><a href="https://github.com/githubfinch">github.com/githubfinch</a></li>
				</ul>
			</footer>
		</body>
	</html>
