<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<script src="https://cdn.jsdelivr.net/npm/qrcodejs@1.0.0/qrcode.min.js"></script>
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
					
					<li class="dropdown">
						<a href="/art">Art &#9660</a>
						<ul class="submenu">
							<li><a href="/art/digital">Digital</a></li>
							<li><a href="/art/mixed">Mixed media</a></li>
							<li><a href="/art/physical">Physical</a></li>
						</ul>
					</li>
					
	        		<li><a href="/cv">CV</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:brassicapekinensis@gmail.com">email</a></li>
	        		<li><a href="https://github.com/githubfinch">github.com/githubfinch</a></li>
				</ul>
				
		        <div class="qr-code">
		            <p>Scan to visit my website!</p>
		            <div id="qrcode"></div>
		        </div>
		
		        <script>
		            new QRCode(document.getElementById("qrcode"), {
		                text: "https://githubfinch.github.io",
		                width: 150,
		                height: 150
		            });
		        </script>
			</footer>
		</body>
	</html>
